Flux_SOA_Process/csv_to_gl_interfaceReal/SOA/Schemas/dbReference_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReference" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReference" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="GlInterfaceCollection" type="GlInterfaceCollection"/>
   <xs:complexType name="GlInterfaceCollection">
      <xs:sequence>
         <xs:element name="GlInterface" type="GlInterface" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GlInterface">
      <xs:sequence>
         <xs:element name="status" type="string50" minOccurs="0"/>
         <xs:element name="ledgerId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="accountingDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="currencyCode" type="string15" minOccurs="0"/>
         <xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createdBy" type="xs:long" minOccurs="0"/>
         <xs:element name="actualFlag" type="string1" minOccurs="0"/>
         <xs:element name="userJeCategoryName" type="string25" minOccurs="0"/>
         <xs:element name="userJeSourceName" type="string25" minOccurs="0"/>
         <xs:element name="currencyConversionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="encumbranceTypeId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="budgetVersionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="userCurrencyConversionType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="currencyConversionRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="segment1" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment2" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment3" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment4" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment5" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment6" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment7" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment8" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment9" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment10" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment11" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment12" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment13" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment14" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment15" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment16" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment17" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment18" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment19" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment20" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment21" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment22" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment23" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment24" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment25" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment26" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment27" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment28" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment29" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="segment30" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="enteredDr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="enteredCr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountedDr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountedCr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transactionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="reference1" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference3" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference4" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference6" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference7" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference8" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference9" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference12" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference13" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference14" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference15" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference16" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference17" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference18" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference19" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference20" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="reference21" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference22" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference23" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference24" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference25" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference26" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference27" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference28" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference29" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="reference30" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="jeBatchId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="periodName" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="jeHeaderId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="jeLineNum" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="chartOfAccountsId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="functionalCurrencyCode" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="codeCombinationId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="dateCreatedInGl" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="warningCode" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="statusDescription" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="statAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="groupId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="subledgerDocSequenceId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="subledgerDocSequenceValue" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute16" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute17" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute18" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute19" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute20" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="context" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="context2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="taxCode" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceIdentifier" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="context3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="ussglTransactionCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="descrFlexErrorMessage" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="jgzzReconRef" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="averageJournalFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="originatingBalSegValue" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="glSlLinkId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="glSlLinkTable" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="referenceDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="setOfBooksId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="balancingSegmentValue" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="managementSegmentValue" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="codeCombinationIdInterim" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="fundsReservedFlag" type="string1" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>